body {
	width: 1170px;
}

/* -------------------------------------
*
	#main
*
------------------------------------- */
#main {
	width: 1170px;
	background-image: url(/img/main/keyvisual.jpg);
}
#main .ttl {
	text-align: center;
}
#main .ttl h1 {
	font-size: 78px;
}
