@charset "UTF-8";
body {
	width: 1170px;
}
/* -------------------------------------
*
	#main
*
------------------------------------- */
#main {
	width: 1170px;
	background-image: url(../img/main/keyvisual.jpg);
	.ttl {
		text-align: center;
		h1{
			font-size: 78px;
		}
	}
}